 /* Make the navbar transparent and fixed */
.navbar {
    font-size: 14px;
    background-color: transparent !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #ffffff;
}

/* Navbar links */
.navbar a {
    color: #ffffff; /* Optional: change link color if needed */
    text-decoration: none;
}

/* Navbar links on hover */
.navbar a:hover {
    color: #cccccc; /* Optional: change hover color */
}

.navbar .dropdown-menu {
    background-color: rgba(56, 7, 146, 0.7); 
    color: #ffffff;      
    border-color: rgba(1, 4, 34, 1); 
}

#title-block-header {
    background:
        url(./site_design/banner.png);
    background-size: cover;
    background-position-y: center;
    height: 800px;
    z-index: -1;
}

/* Gradient after the banner image */
body {
    background: linear-gradient(
        to bottom,
        rgba(56, 7, 146, 0.7),
        rgba(1, 4, 34, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff2dcff;
    font-size: 1rem;
    letter-spacing: 0.35rem;
    line-height: 2;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 2;
    
}

p {
    font-size: 1rem;
    letter-spacing: 0.35rem;
    line-height: 4;
    color: #fff2dcff;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.875rem;
    line-height: 2;
    color: #fff2dcff;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 2;
    color: #fff2dcff;
}

h3 {
    font-size: 1.6rem;
    letter-spacing: 0.56rem;
    line-height: 2; 
    color: #fff2dcff;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 40%;
    font-weight: bold;
    color: #fff2dcff;
    font-size: 1.5em;
    text-align: left;
    padding: 20px;
    z-index: 1;
    line-height: 1.5;
}

.banner-text p{
    padding-left: 0;
}

.banner-text p:nth-child(2) {
    padding-left: 60px;
}

.banner-text p:nth-child(3) {
    padding-left: 120px;
}

.banner-text p:nth-child(4) {
    padding-left: 180px;
}

.banner-text p:nth-child(5) {
    padding-left: 240px;
}