body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-title h1 {
  margin: 0;
  padding-left: 20px;
  font-size: 2em;
}